DirectoryIndex login.php

RewriteEngine On

# Hide .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/.]+)$ $1.php [L]

# Disable directory listing
Options -Indexes

# Protect hidden files
<FilesMatch "^\.">
    Require all denied
</FilesMatch>